<div class="container text-center mt">

    <div class="container">
        <img style="width: 500px" src="/assets/home-image.jpg" alt="">
    </div>  

    <h1>Welcome to the HomePage!!!</h1>

    <p><b>This is the great place to explore because this site contain every thing for sale that on the whole world!</b></p><br>
    <p><b>Thank you for joining the shopsying website!</b></p>
    <p><b>Please </b>
        <button mat-raised-button><a routerLink="/login">Login</a></button> <b>OR</b> 
        <button mat-raised-button><a routerLink="/signup">Signup</a></button>
    </p>
    </div>

    
